body {
    font-family: Arial;
    background:#f5f5f5;
    padding:20px;
}

nav a {
    padding:10px;
    background:black;
    color:white;
    text-decoration:none;
    margin-right:5px;
}

table {
    background:white;
    border-collapse: collapse;
}
